.order-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.order-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  // max-width: 700px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-container p{
  margin-right: 30px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}
.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.order-item-img {
  width: 80px;
  height: 80px;
  margin-right: 5px;
  margin-left: 0px;
  border-radius: 5px;
}

.order-item-details {
  flex: 1;
  margin-right: 10px; 
}
.order-item button {
  margin-left: auto; // تحديد مسافة يسارية تلقائية للزر
}
.order-item-title {
  font-size: 1.0rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
}
.order-item-subtitle {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}


.remove-btn {
  background-color: #ff6666;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #e60000;
}

.total-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
}
