
<!-- ------------- -->

  <div class="formcontainer">
    <p>Books - الكتب</p>  
    <hr />
    <input type="text" [(ngModel)]="bookService.searchTerm" (input)="bookService.getBooks(0)" placeholder="ابحث عن الكتب...">
    <br />
    <div class="filters">
      <mat-radio-group [(ngModel)]="bookService.valAvailable" (change)="onRadioChange(bookService.valAvailable)">
        <mat-radio-button value="available">متوفرة</mat-radio-button>
        <mat-radio-button value="unavailable">غير متوفرة</mat-radio-button>
        <mat-radio-button value="all">الكل</mat-radio-button>
      </mat-radio-group>
      <p>ترتيب بحسب : </p>
    </div>
    
    
    
    
    

  
    <div class="loading-container-small" *ngIf="bookService.loading; else dataContent">
      <!-- عرض Progress Spinner في المنتصف أثناء التحميل -->
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
      ></mat-progress-spinner>
      <p>جارٍ التحميل...</p>
    </div>
    
    <ng-template #dataContent>
    <!-- Display Books -->
    <p *ngIf="bookService.data.length===0">لايوجد بيانات</p>
    <div class="book-container" *ngIf="!bookService.loading">
      <div class="book-item" *ngFor="let book of bookService.data">
        <div class="book-details">
          <p><strong>العنوان:</strong> {{ book.title }}</p>
          <p><strong>المؤلف:</strong> {{ book.author }}</p>
          <p><strong>النوع:</strong> {{ book.genre }}</p>
          <p><strong>السعر:</strong> {{ book.price }}</p>
          <p>
            <strong>التوفر:</strong>
            <mat-icon color="{{ book.availability ? 'primary' : 'warn' }}">{{
              book.availability ? "check_circle" : "cancel"
            }}</mat-icon>
          </p>

          <div class="row">
            <div class="quantity-controls">
              <button (click)="orderService.removeOrder(book)">-</button>
              <span>{{ orderService.orderQuantity(book) }}</span>
              <button (click)="orderService.addOrder(book)">+</button>
            </div>
            <div class="total-price">
              <span class="card-price">
                الاجمالي =
                {{ orderService.orderQuantity(book) * book.price | number }}
                {{ "$" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination Buttons -->
    <div class="pagination" *ngIf="bookService.paginationData">
      <button
        *ngIf="bookService.paginationData.current_page > 1"
        (click)="
          bookService.getBooks(bookService.paginationData.current_page - 1)
        "
      >
        السابق
      </button>
      <button
        *ngFor="let page of getPages()"
        [class.active]="page === bookService.paginationData.current_page"
        (click)="bookService.getBooks(page)"
      >
        {{ page }}
      </button>
      <button
        *ngIf="
          bookService.paginationData.current_page <
          bookService.paginationData.last_page
        "
        (click)="
          bookService.getBooks(bookService.paginationData.current_page + 1)
        "
      >
        التالي
      </button>
    </div>

    <hr>
  </ng-template>

    <button
  mat-raised-button
  color="primary"
  class="btn-order"
  (click)="openOrderDialog()"
>
  {{ "عرض الطلبات  . " }}
  <span
    matBadge="{{ orderService.orders.length }}"
    matBadgePosition="before"
    matBadgeColor="accent"
  ></span>
  <mat-icon>shopping_cart</mat-icon>
</button>

  </div>
  

