.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.error-content {
    text-align: center;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    p {
        color: #6c757d;
    }

    button {
        padding: 10px 20px;
        margin-top: 15px;
        background-color: #628392;

        transition: 0.4s;

        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: #445760;
        }
    }
}

.error-icon {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    margin-bottom: 20px; /* Add some spacing */
  }