<mat-toolbar color="primary" class="header">
  <div class="row">
    <div class="rowHeader">
      <p style="font-size: 44px">اكتشف عالم الكتب </p>
      <p style="font-size: 34px">مع متجر الكتب الرقمي</p>
      <br />
      <hr />
      <br />
      <p>انغمس في عالم من المعرفة والإلهام مع متجر الكتب الرقمي</p>
      <p>نقدم لك طريقة مبتكرة وملهمة لاكتشاف وشراء الكتب عبر الإنترنت</p>

      <button mat-raised-button color="accent" class="btn_order">
        تواصل معنا
      </button>
    </div>
    <img src="../../../assets/images/books.jpg" class="imgHeader" />
  </div>
</mat-toolbar>

<div style="height: 10px"></div>

<p>أهلا بك في موقعنا الرسمي</p>
<hr>
<p style="font-size: 33px;">BookStore</p>


<mat-toolbar color="primary" class="footer"></mat-toolbar>
